
/* -----------------------------------------------------|
|                       HEADING  EniExpBol                  
|------------------------------------------------------*/
%HeadingXlarge{
    font-size: 5.25rem;
    line-height: 1.1;
    font-family: $EniExpBol;
}

%HeadingLarge{
    font-size: 3.75rem;
    line-height: 1.1;
    font-family: $EniExpBol;
}
%HeadingMedium{
    font-size: 2.62rem;
    line-height: 1.3;
    font-family: $EniExpBol;
}
%HeadingNormal{
    font-size: 2rem;
    line-height: 1.3;
    font-family: $EniExpBol;
}
%HeadingSmall{
    font-size: 1.5rem;
    line-height: 1.3;
    font-family: $EniExpBol;
}
%HeadingXsmall{
    font-size: 1.25rem;
    line-height: 1.5;
    font-family: $EniExpBol;
}

%HeadingXXsmall{
    font-size: 1.12rem;
    line-height: 1.5;
    font-family: $EniExpBol;
}