/* -----------------------------------------------------|
|                       Link  OpenSansRegular                  
|------------------------------------------------------*/
%LienXlarge{
    font-size: 1.25rem;
    line-height: 1.5;
    font-family: $OpenSansRegular;
}
%LienLarge{
    font-size: 1.12rem;
    line-height: 1.5;
    font-family: $OpenSansRegular;
}
%LienNormal{
    font-size: 1rem;
    line-height: 1.5;
    font-family: $OpenSansRegular;
}
%LienSmall{    
    font-size: 0.87rem;
    line-height: 1.5;
    font-family: $OpenSansRegular;
}
%LienXsmall{
    font-size: 0.75rem;
    line-height: 1.5;
    font-family: $OpenSansRegular;
}
