/* -----------------------------------------------------|
|                       Link  OpenSansRegular                  
|------------------------------------------------------*/
%LienXlarge{
    font-size: 20px;
    line-height: 1.5;
    font-family: $OpenSansRegular;
}
%LienLarge{
    font-size: 18px;
    line-height: 1.5;
    font-family: $OpenSansRegular;
}
%LienNormal{
    font-size: 16px;
    line-height: 1.5;
    font-family: $OpenSansRegular;
}
%LienSmall{    
    font-size: 14px;
    line-height: 1.5;
    font-family: $OpenSansRegular;
}
%LienXsmall{
    font-size: 12px;
    line-height: 1.5;
    font-family: $OpenSansRegular;
}
