    /* -----------------------------------------------------|
|                       TEXT  SourceSansPro                  
|------------------------------------------------------*/
%TextXlarge{
    font-size:1.25rem;
    line-height: 1.68rem;
    font-family: $SourceSansPro;
}
%TextLarge{
    font-size: 1.125rem;
    line-height: 1.68rem;
    font-family: $SourceSansPro;
}
%TextNormal{
    font-size:1rem;
    line-height: 1.5rem;
    font-family: $SourceSansPro;
}
%TextSmall{    
    font-size: 0.87rem;
    line-height: 1.31rem;
    font-family: $SourceSansPro;
}
%TextXsmall{
    font-size: 0.75rem;
    line-height: 1.12rem;
    font-family: $SourceSansPro;
}


/* -----------------------------------------------------|
|                       TEXT SourceSansProBold                           
|------------------------------------------------------*/

%TextBoldXlarge{
    font-size:1.25rem;
    line-height: 1.68rem;
    font-family: $SourceSansProBold;
}
%TextBoldLarge{
    font-size: 1.125rem;
    line-height: 1.68rem;
    font-family: $SourceSansProBold;
}
%TextBoldNormal{
    font-size:1rem;
    line-height: 1.5rem;
    font-family: $SourceSansProBold;
}
%TextBoldSmall{    
    font-size: 0.87rem;
    line-height: 1.31rem;
    font-family: $SourceSansProBold;
}
%TextBoldXsmall{
    font-size: 0.75rem;
    line-height: 1.12rem;
    font-family: $SourceSansProBold;
}



/* -----------------------------------------------------|
|                       TEXT SourceSansProSemiBold                           
|------------------------------------------------------*/


%TextSemiBoldXlarge{
    font-size: 1.25rem;
    line-height: 1.5;
    font-family: $SourceSansProSemiBold;
}
%TextSemiBoldSemiBoldLarge{
    font-size: 1.12rem;
    line-height: 1.5;
    font-family: $SourceSansProSemiBold;
}
%TextSemiBoldNormal{
    font-size: 1rem;
    line-height: 1.5;
    font-family: $SourceSansProSemiBold;
}
%TextSemiBoldSmall{    
    font-size: 0.87rem;
    line-height: 1.5;
    font-family: $SourceSansProSemiBold;
}
%TextSemiBoldXsmall{
    font-size: 0.75rem;
    line-height: 1.5;
    font-family: $SourceSansProSemiBold;
}

/* -----------------------------------------------------|
|                       TEXT SourceSansProSemiboldIt                           
|------------------------------------------------------*/


%TextItalicNormal{
    font-size: 1rem;
    line-height: 1.5;
    font-family: $SourceSansProSemiboldIt;
}
%TextItalicSmall{    
    font-size: 0.87rem;
    line-height: 1.5;
    font-family: $SourceSansProSemiboldIt;
}
%TextItalicXsmall{
    font-size: 0.75rem;
    line-height: 1.5;
    font-family: $SourceSansProSemiboldIt;
}
