/* -----------------------------------------------------|
|                       TEXT  OpenSansRegular                  
|------------------------------------------------------*/
%TextXlarge{
    font-size:1.25rem;
    line-height: 1.5;
    font-family: $OpenSansRegular;
}
%TextLarge{
    font-size: 1.12rem;
    line-height: 1.5;
    font-family: $OpenSansRegular;
}
%TextNormal{
    font-size:1rem;
    line-height: 1.5;
    font-family: $OpenSansRegular;
}
%TextSmall{    
    font-size: 0.87rem;
    line-height: 1.5;
    font-family: $OpenSansRegular;
}
%TextXsmall{
    font-size: 0.75rem;
    line-height: 1.5;
    font-family: $OpenSansRegular;
}


/* -----------------------------------------------------|
|                       TEXT OpenSansSemiBold                           
|------------------------------------------------------*/


%TextSemiBoldXlarge{
    font-size: 1.25rem;
    line-height: 1.5;
    font-family: $OpenSansSemiBold;
}
%TextSemiBoldSemiBoldLarge{
    font-size: 1.12rem;
    line-height: 1.5;
    font-family: $OpenSansSemiBold;
}
%TextSemiBoldNormal{
    font-size: 1rem;
    line-height: 1.5;
    font-family: $OpenSansSemiBold;
}
%TextSemiBoldSmall{    
    font-size: 0.87rem;
    line-height: 1.5;
    font-family: $OpenSansSemiBold;
}
%TextSemiBoldXsmall{
    font-size: 0.75rem;
    line-height: 1.5;
    font-family: $OpenSansSemiBold;
}

/* -----------------------------------------------------|
|                       TEXT EniExpBol                           
|------------------------------------------------------*/


%TextBoldXlarge{
    font-size: 1.25rem;
    line-height: 1.5;
    font-family: $EniExpBol;
}
%TextBoldLarge{
    font-size: 1.12rem;
    line-height: 1.5;
    font-family: $EniExpBol;
}
%TextBoldNormal{
    font-size: 1rem;
    line-height: 1.5;
    font-family: $EniExpBol;
}
%TextBoldSmall{    
    font-size: 0.87rem;
    line-height: 1.5;
    font-family: $EniExpBol;
}
%TextBoldXsmall{
    font-size: 0.75rem;
    line-height: 1.5;
    font-family: $EniExpBol;
}

/* -----------------------------------------------------|
|                       TEXT  OpenSansItalic                  
|------------------------------------------------------*/
%TextItalicXlarge{
    font-size: 1.25rem;
    line-height: 1.5;
    font-family: $OpenSansItalic;
}
%TextItalicLarge{
    font-size: 1.12rem;
    line-height: 1.5;
    font-family: $OpenSansItalic;
}
%TextItalicNormal{
    font-size: 1rem;
    line-height: 1.5;
    font-family: $OpenSansItalic;
}
%TextItalicSmall{    
    font-size: 0.87rem;
    line-height: 1.5;
    font-family: $OpenSansItalic;
}
%TextItalicXsmall{
    font-size: 0.75rem;
    line-height: 1.5;
    font-family: $OpenSansItalic;
}
