.eni-checkbox{

  cursor: pointer;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  min-height: 18px;
  margin: 4px;
  overflow-wrap: anywhere;
  span {
    margin-left: 8px;
    @extend %TextNormal;
  }
  &:not(.selected) svg {
    visibility: hidden;
  }
  &.selected svg {
    position: absolute;
    right: 8px;
  }
  &.selected.disabled{
    path{
      fill: $Grey600!important;
    }
  }
  &.selected .checkbox {
    background-color: $Yellow200;
  }
  &.disabled {
    color: $Grey900;
    span {
      opacity: 0.5;
    }
    cursor: unset;
  }
  &.disabled:hover {
    background-color: unset;
  }
  &:not(.selected):not(.disabled):hover .checkbox {
    border: 1px solid $Yellow200;
  }
  &:not(.selected):not(.disabled) .checkbox:focus {
    border: 2px solid $Yellow200;
  }
  & .checkbox {
    cursor: pointer;
    appearance: none;
    background-color: unset;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 8px;
    width: 24px;
    height: 24px;
    border: 1px solid $Grey200;
    border-radius: 6px;
  }
  &:not(.selected) .checkbox svg {
    visibility: hidden;
  }
  &.selected .checkbox svg {
    right: unset;

    path {
      fill: $Black;
    }
  }
  &.selected .checkbox {
    border: 2px solid $Yellow200;
  }
  &.disabled .checkbox {
    cursor: unset;
    border: solid 1px $Grey200;
    background-color: $Grey100;
  }

  & ~ input{
    width: 0;
    height: 0;
    appearance: none;
    position: absolute;
    border: unset;
    outline: none;
  }
}