.eni-status {
  padding: 16px 12px;
  border-radius: 4px;
  display: inline-block;
  white-space: nowrap;
  font-size: 0px;
}

.eni-status span {
  @extend %TextSemiBoldXsmall;
}

.eni-status-info {
  background-color: rgba($color: $Blue500, $alpha: 0.05);
  color: $Blue500;
  border: solid 1px $Blue500;
}

.eni-status-success {
  background-color: rgba($color: $DarkGreen600, $alpha: 0.05);
  color: $DarkGreen600;
  border: solid 1px $DarkGreen600;
}

.eni-status-error {
  background-color: rgba($color: $Red500, $alpha: 0.05);
  color: $Red500;
  border: solid 1px $Red500;
}

.eni-status-rejected {
  background-color: rgba($color: $Orange500, $alpha: 0.05);
  color: $Orange500;
  border: solid 1px $Orange500;
}

.eni-status-disabled {
  background-color: rgba($color: $Grey500, $alpha: 0.05);
  color: $Grey500;
  border: solid 1px $Grey500;
}
