

.eni-status {
  padding: 4px 12px;
  border-radius: 4px;
  display: inline-block;
  white-space: nowrap;
  font-size: 0px;
}

.eni-status span {
  @extend %TextSemiBoldXsmall;
}

.eni-status-info {
  background-color: $eniBleuNormalWithOpacity;
  color: $eniBleuNormal;
  border: solid 1px $eniBleuNormal;
}

.eni-status-success {
  background-color: $eniVertForetWithOpacity;
  color: $eniVertForet;
  border: solid 1px $eniVertForet;
}

.eni-status-error {
  background-color: $eniOrangeWithOpacity;
  color: $eniOrange;
  border: solid 1px $eniOrange;
}

.eni-status-rejected {
  background-color: $eniRougeNormalWithOpacity;
  color: $eniRougeNormal;
  border: solid 1px $eniRougeNormal;
}

.eni-status-disabled {
  background-color: $eniGrisClairLight;
  color: $eniGrisNormal;
  border: solid 1px $eniGrisNormal;
}
