.eni-input-container {
  position: relative;
  width: fit-content;
  height: fit-content;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  &.valuefocus{
    label{
      @extend %TextXsmall;
      top:10px;
      color: $Grey600;
    }
    .eni-input{
      padding-top: 28px;
      padding-bottom: 8px;
    }
  }
}

.eni-input {
  display: block;
  padding: 20px;


  border-radius: 4px;
  border: solid 1px $Grey600;
  @extend %TextNormal;
}

.eni-input::placeholder {
  @extend %TextNormal;
}

.eni-input:disabled {
  background-color: $Grey100;
  color: $eniGrisDark;
  border: solid 1px $Grey400;
}

.eni-input:disabled:hover {
  border: solid 1px $Grey400;
}

.eni-input:focus {
  border-color: $Yellow200;
  outline: none;
}

.eni-input:hover {
  border-color: $Yellow200;
}

.eni-input-label {
  display: block;
  color: $Grey900;
  @extend %TextNormal;
  margin-left: 20px;
  position: absolute;

}

.eni-input-label.required:after {
  content: " *";
  position: absolute;
  color: $Red500;
  @extend %TextSmall;
  top: 0;
  right: -0.5rem;
}

.eni-input-label.disabled {
  color: $Grey600;
}

.eni-input-label.disabled:after {
  color: $Grey600;
}

.eni-input:focus:invalid {
 
}
.eni-input:invalid[value]:not([value=""]) {
  color: $Red500;
  border-color: $Red500;
  background-color: rgba($color: $Red500, $alpha: 0.1);
}

.error-message {
  display: none;
  position: absolute;
  top: 100%;
}

.eni-input:focus:invalid ~ .error-message {
  display: block;
  height: fit-content;
  color: $Red500;
  @extend %TextSmall;
}
.eni-input:invalid[value]:not([value=""]) ~ label {
  color: $Red500;
}

.eni-input:invalid[value]:not([value=""]) ~ .error-message {
  display: block;
  color: $Red500;
  @extend %TextSmall;
}
