.eni-input {
  display: block;
  padding: 12px;
  margin-top: 4px;
  border-radius: 4px;
  border: solid 1px $eniGrisDarker;
  @extend %TextSemiBoldNormal;
}

.eni-input::placeholder {
  @extend %TextNormal;
}

.eni-input:disabled {
  background-color: $eniGrisClairLightest;
  color: $eniGrisDark;
  border: solid 1px $eniGrisNormal;
}

.eni-input:disabled:hover {
  border: solid 1px $eniGrisNormal;
}

.eni-input:focus {
  border-color: $eniJauneNormal;
  outline: none;
}

.eni-input:hover {
  border-color: $eniJauneNormal;
}

.eni-input-label {
  display: block;
  color: $eniGrisDarkest;
  font-family: $OpenSansSemiBold;
  font-size: 16px;
  margin-bottom: 8px;
}

.eni-input-label.required:after {
  content: " *";
  color: $eniRougeNormal;
  @extend %TextSemiBoldNormal;
}

.eni-input-label.disabled {
  color: $eniGrisLighter;
}

.eni-input-label.disabled:after {
  color: $eniGrisLighter;
}

.eni-input:focus:invalid {
  color: $eniRougeNormal;
  border-color: $eniRougeNormal;
}
.eni-input:invalid[value]:not([value=""]) {
  color: $eniRougeNormal;
  border-color: $eniRougeNormal;
}

.error-message {
  display: none;
}

.eni-input:focus:invalid ~ .error-message {
  display: block;
  color: $eniRougeNormal;
  @extend %TextNormal;
}
.eni-input:invalid[value]:not([value=""]) ~ .error-message {
  display: block;
  color: $eniRougeNormal;
  @extend %TextNormal;
}
