.eni-tabs-group {
  display: flex;
  margin-bottom: 50px;
  flex-wrap: wrap;
}

.eni-tabs:disabled {
  opacity: 0.5;
}

.eni-tabs-group.disabled .eni-tabs {
  
}

.eni-tabs {
  border-radius: 12px;
  cursor: pointer;
  background-color: $White;
  overflow: hidden;
  border: unset;
  justify-content: center;
  align-items: center;
  display: flex;
  margin-right: 24px;
  padding: 16px 16px;
  margin-top: 24px;
}

button.eni-tabs:not(:disabled):not(.selected):not(:focus):hover {
  filter: drop-shadow(0px 8px 20px rgba(0, 0, 0, 0.2));

  &:after {
    content: "";
    position: absolute;
    height: 5px;
    width: 100%;
    top: calc(100% - 5px);
    background-color: $Yellow100;
  }
}

.eni-tabs.selected,
button.eni-tabs:focus,
button.eni-tabs:focus-visible {
  filter: drop-shadow(0px 8px 20px rgba(0, 0, 0, 0.2));

  &:after {
    content: "";
    position: absolute;
    height: 5px;
    width: 100%;
    top: calc(100% - 5px);
    background-color: $Yellow200;
  }
}

.eni-tabs-message {
  height: 100%;
  float: left;
  clear: none;
  display: table;

}

.eni-tabs-message span {
  color: $Grey800;
  @extend %TextNormal;
  display: table-cell;
  vertical-align: middle;
}

.eni-tabs-img {
  height: 100%;
  float: left;
  clear: none;
  @media screen and (max-width: map-get($Maxbreakpoints,"Mobile")) {
    display: none;
  }
}

.eni-tabs img {
  width: 48px;
  height: 48px;
  margin-right: 8px;
  @media screen and (max-width: map-get($Maxbreakpoints,"Mobile")) {
    margin-right: unset;
  }
}

img[src=""] {
  display: none;
}

.eni-tabs-info-group {
  padding: 10px;
}

.eni-tabs-info {
  display: none;
}
.eni-tabs-info.display {
  display: block;
}
