.eni-group-radio-tabs {
  display: flex;

  width: fit-content;
}

.eni-group-radio-tabs-label {
  display: block;
  color: $Grey900;
  @extend %TextNormal;
  margin-bottom: 8px;
}

.eni-radio-tabs-input:required ~ .eni-group-radio-tabs-label:after {
  content: " *";
  color: $Red500;
  @extend %TextNormal;
}

.eni-group-radio-tabs-label.disabled {
  color: $Grey600;
}

.eni-group-radio-tabs-label.disabled:after {
  color: $Grey600;
}
.eni-radio-tabs-input {
  width: 0;
  height: 0;
  appearance: none;
  position: absolute;
  border: unset;
  outline: none;
  visibility: hidden;
}

.eni-radio-tabs:disabled {
  background-color: $Grey100;
  &::after{
    background-color: $Grey200!important;
  }
  .eni-radio-tabs-message span{
    color: $Grey500;
  }
}


.eni-radio-tabs {
  border-radius: 12px;
  cursor: pointer;
  background-color: $White;
  overflow: hidden;
  border: unset;
  justify-content: center;
  align-items: center;
  display: flex;
  position: relative;
  margin-right: 24px;
  padding: 8px 16px;
  padding-right: 24px;
  margin-top: 24px;
}

button.eni-radio-tabs:not(:disabled):not(.checked):not(:focus):hover {

  &:after {
    content: "";
    position: absolute;
    height: 5px;
    width: 100%;
    top: calc(100% - 5px);
    background-color: $Yellow100;
  }
}

.eni-radio-tabs:disabled .eni-radio-tabs-img img {
  filter: grayscale(1);
}

.eni-radio-tabs.checked,
button.eni-radio-tabs:focus,
button.eni-radio-tabs:focus-visible {
  filter: drop-shadow(0px 8px 20px rgba(0, 0, 0, 0.1));

  &:after {
    content: "";
    position: absolute;
    height: 5px;
    width: 100%;
    top: calc(100% - 5px);
    background-color: $Yellow200;
  }
}

.eni-radio-tabs-message {
  height: 100%;
  float: left;
  clear: none;
  display: table;
}

.eni-radio-tabs-message span {
  color: $Grey800;
  @extend %HeadingXsmall;
  display: table-cell;
  vertical-align: middle;
}

.eni-radio-tabs-img {
  height: 100%;
  float: left;
  clear: none;
  @media screen and (max-width: map-get($Maxbreakpoints,"Mobile")) {
    display: none;
  }
}

.eni-radio-tabs-img img {
  width: 48px;
  height: 48px;
  margin-right: 8px;
  @media screen and (max-width: map-get($Maxbreakpoints,"Mobile")) {
    margin-right: unset;
  }
}

img[src=""],img[src="undefined"] {
  display: none;
}
