

.eni-button {
	height: 50px;
    border-radius: 4px;
    border: none;
    padding: 6px 16px;
    @extend %HeadingXsmall;
    cursor: pointer;
    margin: 16px;
}

.eni-button-icon {
    width:12px;
    height: 12px;
    margin-left: 12px;
    vertical-align: middle;
}

.primary {
    background-color: $Yellow200;
    color: $Grey900;
}

.primary:active {
    background-color: $Yellow150;
}

.primary:disabled {
    background-color: $Grey100;
    color: $Grey500;
    cursor: unset;
}

.primary:disabled:hover {
    background-color: $Grey100;
    color: $Grey500;
}

.primary:hover {
    background-color: $Yellow150;
}

.primary:focus.primary:active {
    border: solid 2px $Yellow500;
    background-color: $Yellow200;
    outline: none;
}

.secondary {
    background-color: $DarkGreen200;
    color: $Grey900;
}

.secondary:active {
    background-color: $DarkGreen200;
}

.secondary:disabled {
    background-color: $Grey100;
    color: $Grey500;
    cursor: unset;
}

.secondary:disabled:hover {
    background-color: $Grey100;
    color: $Grey500;
}

.secondary:hover {
    background-color: $DarkGreen150;
}

.secondary:focus,.secondary:active {
    border: solid 2px $DarkGreen500;
    background-color: $DarkGreen200;
    outline: none;
}

.tertiary {
    background-color: $White;
    color: $Grey900;
    border: solid 1px $Grey900;

}

.tertiary:hover {
    background-color: $Grey100;
}
.tertiary:disabled {
    background-color: $Grey100;
    color: $Grey500;
    cursor: unset;
}

.tertiary:disabled:hover {
    background-color: $Grey100;
    color: $Grey500;
}
.tertiary:focus,.tertiary:active {
    border: solid 2px $Grey500;
    background-color: $Grey100;
    color: $Grey900;
    outline: none;
}

.plain {
    background-color: unset;
    color: $Grey900;
    border: none;
}



.plain:disabled {
    background-color: $Grey100;
    color: $Grey500;
    border: none;
    cursor: unset;
}

.plain:disabled:hover {
    background-color: $Grey100;
    color: $Grey500;
}

.plain:hover {
    background-color: $White;
    color: $Grey900;
}

.plain:focus,.plain:active {
    border: solid 2px $Grey500;
    background-color: unset;
    color: $Grey900;
    outline: none;
}

