.eni-breadcrumb {
  padding: 4px 12px;
  border-radius: 4px;
  display: inline-block;
  white-space: nowrap;
}

.eni-breadcrumb-label {
  @extend %TextXsmall;
  color: $Grey900;
  margin: 8px 0px;
}

.eni-breadcrumb-level {
  @extend %TextXsmall;
  color: $Grey900;
  margin: 8px 0px 8px 8px;
  text-decoration: none;
}


.eni-breadcrumb-level::after {
  content: "";
  width: 1px;
  height: 8px;
  background-color: $Black;
  border-radius: 0.5px;
  margin-left: 8px;
  display: inline-block;
}
.eni-breadcrumb-level:last-child::after {
  content: "";
  display: none;
}

.eni-breadcrumb-level:hover {
  text-decoration: underline;
}

.eni-breadcrumb-level:focus span {
  padding: 2px;
  border:1px solid $Grey900;
 
}

.eni-breadcrumb-level:last-child {
  @extend %TextSemiBoldXsmall;
}
