.eni-breadcrumb {
  padding: 4px 12px;
  border-radius: 4px;
  display: inline-block;
  white-space: nowrap;
}

.eni-breadcrumb-label {
  @extend %TextSmall;
  color: $eniGrisDarkest;
  margin: 8px 0px;
}

.eni-breadcrumb-level {
  @extend %TextSmall;
  color: $eniNoir;
  margin: 8px 0px 8px 4px;
  text-decoration: none;
}

.eni-breadcrumb-level:last-child::after {
  content: "";
  margin-left: 0px;
}

.eni-breadcrumb-level::after {
  content: ">";
  margin-left: 4px;
  display: inline-block;
}

.eni-breadcrumb-level:hover {
  text-decoration: underline;
}

.eni-breadcrum-level:focus {
  outline: 2px solid;
  outline-color: $eniBleuNormal !important;
}

.eni-breadcrumb-level:last-child {
  @extend %TextSemiBoldSmall;
}
