
/* -----------------------------------------------------|
|                       BREAKPOINTS                           
|------------------------------------------------------*/
$Minbreakpoints: (
  "Mobile": 375px,
  "Tablette": 640px,
  "Desktop": 768px,
  "DesktopLarge":1080px,
  "DesktopXLarge":1438px,
) !default;

$Maxbreakpoints: (
  "Mobile": 640px,
  "Tablette":768px,
  "Desktop": 1080px,
  "DesktopLarge":1438px,
  "DesktopXLarge":1920px,
) !default;

$GridColonnes: (
  "Mobile": 4,
  "Tablette":8,
  "Desktop": 12,
  "DesktopLarge":12,
  "DesktopXLarge":12,
) !default;

/* -----------------------------------------------------|
|                       MARGE                           
|------------------------------------------------------*/

$MargeXSmall:16px;
$MargeSmall:16px;
$MargeMedium:24px;
$MargeLarge:24px;
$MargeXLarge:24px;

$Marge: (
  "Mobile": $MargeXSmall,
  "Tablette":$MargeSmall,
  "Desktop": $MargeMedium,
  "DesktopLarge":$MargeLarge,
  "DesktopXLarge":$MargeXLarge,
) !default;
/* -----------------------------------------------------|
|                       FONTS                           
|------------------------------------------------------*/
$EniExpBol: "EniExpBol";
$OpenSansRegular: "OpenSansRegular";
$OpenSansSemiBold: "OpenSansSemiBold";
$OpenSansItalic: "OpenSansItalic";

$SourceSansPro: "SourceSansProRegular";
$SourceSansProSemiBold: "SourceSansProSemibold";
$SourceSansProSemiboldIt: "SourceSansProSemiboldIt";
$SourceSansProBold: "SourceSansProBold";

