.eni-group-radio-button {
  display: flex;
  flex-direction: column;
}

.eni-group-radio-button-label {
  display: block;
  color: $Grey900;
  @extend %TextNormal;
  margin-bottom: 8px;
}

.eni-radio-input:required ~ .eni-group-radio-button-label:after {
  content: " *";
  color: $Red500;
  @extend %TextNormal;
}

.eni-group-radio-button-label.disabled {
  color: $Grey500;
}

.eni-group-radio-button-label.disabled:after {
  color: $Grey500;
}
.eni-radio-input {
  width: 0;
  height: 0;
  appearance: none;
  position: absolute;
  border: unset;
  outline: none;
  visibility: hidden;
}
.eni-group-radio-button {
  .eni-radio-button {
    padding: $MargeXSmall;
    margin: $MargeLarge;
    background-color: unset;
    appearance: none;
    cursor: pointer;
    border: 1px solid $Grey800;
    border-radius: 5px;
    display: inline-block;
    position: relative;
    padding-left: calc($MargeXSmall + $MargeXSmall);
    @extend %TextNormal;
    outline: none;
    width: fit-content;

    &::before,
    &::after {
      margin-left: $MargeXSmall;
      position: absolute;
      top: 50%;
      left: 7px;
      transform: translate(-20%, -50%);
      content: "";
    }
    &::before {
      width: 24px;
      height: 24px;
      border: 1px solid $Grey800;
      border-radius: 100%;
    }
    &[aria-checked="true"]::after {
      display: block;
      background-color: $Black;
      width: 10px;
      height: 10px;
      border-radius: 100%;
      transform: translate(20%, -50%);
    }

    &[aria-checked="true"]::before {
      border: 2px solid $Yellow200;
    }
    &[aria-checked="true"]:not(:disabled) span {
      @extend %TextSemiBoldNormal;
    }
    &[aria-checked="true"] {
      background-color: $Yellow50;
      border-color: $Yellow200;
    }
    &:not(:disabled):hover::before,
    &:focus::before,
    &:hover {
      border-color: $Yellow200;
    }

    &.disabled {
      color: $Grey600;
      cursor: unset;
      border-color: $Grey600;
      background-color: $Grey100;
      @extend %TextNormal;
      &:before {
      }
    }

    span {
      padding-left: $MargeXSmall;
    }
  }
}
