.EniSelectWithUl {
  .eni-select-input {
    visibility: hidden;
    position: absolute;

    &:invalid {
      color: $Red500;

      & ~ .eni-select .eni-select-box {
        border-color: $Red500;
        color: $Red500;
      }
    }

    &:focus:invalid ~ .error-message {
      display: block;
      color: $Red500;
      @extend %TextNormal;
    }
    &:invalid ~ .error-message {
      display: block;
      color: $Red500;
      @extend %TextNormal;
    }
    & ~ .eni-input-label {
      display: block;
      color: $Grey900;
      @extend %TextNormal;
      margin-top: 20px;
      z-index: 1;
      &.valuefocus {
        margin-top: 8px;
        @extend %TextXsmall;
        color: $Grey600;
      }
    }
    &:required {
      & ~ .eni-input-label:after {
        content: " *";
        position: absolute;
        color: $Red500;
        @extend %TextSmall;
        top: 0;
        right: -0.5rem;
      }
    }
    &:disabled:required {
      & ~ .eni-input-label:after {
        color: $Grey600;
      }
    }
    &:not(:disabled) ~ .eni-select .eni-select-box:hover {
      cursor: pointer;
      border-color: $Yellow200;
    }
    &:not(:disabled) ~ .eni-select .eni-select-box:focus {
      border: 2px solid $Yellow200;
    }
    &:disabled {
      & ~ .eni-select .eni-select-box {
        border: solid 2px $Grey600 !important;
        background-color: $Grey100 !important;
      }
      & ~ .eni-input-label {
        color: $Grey600;
      }
    }
  }

  .eni-select {
    width: 284px;
    height: fit-content;

    position: relative;

    .eni-select-box {
      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none;
      position: relative;
      top: 0;
      left: 0;
      width: 100%;
      height: fit-content;
      background-color: white;
      display: flex;
      align-items: center;
      text-align: unset;
      padding: 20px;
      border-radius: 4px;
      border: solid 1px $Grey600;

      .eni-select-content {
        width: 80%;
        min-height: 1.5rem;
        position: relataive;
        overflow: hidden;
        display: block;
        color: $Grey900;
        @extend %TextNormal;
        span {
          position: absolute;
          margin-top: 8px;
        }
      }

      svg {
        position: absolute;
        right: 12px;
      }
      &.eni-select-box-open {
        cursor: pointer;
        border-color: $Yellow600;
        svg {
          transform: rotate(180deg);
        }
      }
    }
    .eni-select-options-container {
      position: absolute;
      top: 100%;
      left: 0;
      width: 100%;
      max-height: 224px;

      .eni-select-options {
        &.eni-select-close {
          visibility: hidden;
        }
        background-color: rgb(255, 255, 255);
        color: rgba(0, 0, 0, 0.87);
        transition: box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
        border-radius: 0px 0px 4px 4px;
        box-shadow: rgb(0 0 0 / 20%) 0px 5px 5px -3px, rgb(0 0 0 / 14%) 0px 8px 10px 1px,
          rgb(0 0 0 / 12%) 0px 3px 14px 2px;
        position: absolute;
        width: 100%;
        display: block;
        overflow: auto;
        max-height: 224px;

        li {
          &:hover {
            background-color: $Yellow50;
          }
          &.selected {
            background-color: $Yellow100;
          }
          // &:focus {
          //   border: 2px solid $eniBleuNormal;
          // }
          cursor: pointer;
          display: flex;
          justify-content: flex-start;
          align-items: center;
          min-height: 56px;
          width: 100%;
          overflow-wrap: anywhere;
          span {
            margin-left: 8px;
            @extend %TextNormal;
          }
          &:not(.selected) svg {
            visibility: hidden;
          }
          &.selected svg {
            position: absolute;
            right: 8px;
          }
          &.disabled {
            color: $eniGrisLighter;
            cursor: unset;
          }
          &.disabled:hover {
            background-color: unset;
          }
          &:hover .checkbox {
            border: 1px solid $Yellow200;
          }
          &:focus .checkbox {
            border: 2px solid $Yellow200;
          }
          & .checkbox {
            appearance: none;
            background-color: unset;
            position: relative;
            display: flex;
            justify-content: center;
            align-items: center;
            margin-left: 8px;
            width: 24px;
            height: 24px;
            border: 1px solid $Grey200;
            border-radius: 6px;
            cursor: pointer;
          }
          &:not(.selected) .checkbox svg {
            visibility: hidden;
          }
          &.selected .checkbox svg {
            right: unset;

            path {
              fill: $eniGrisDarker;
            }
          }
          &.selected .checkbox {
            border: 2px solid $Yellow200;
            background-color: $Yellow200;
          }
          &.disabled .checkbox {
         
            border: solid 1px $Grey200;
            background-color: $Grey100;
          }
        }

        &.eni-select-categ {
          .eni-categ {
            color: rgba($color: $Grey900, $alpha: 0.5);
            cursor: unset;
            background: $Grey50;
            &:hover {
              background-color: unset;
            }
          }
          li:not(.eni-categ) span {
            margin-left: 24px;
          }
          li .checkbox ~ span {
            margin-left: 8px;
          }
          li:not(.eni-categ) .checkbox {
            margin-left: 24px;
          }
        }
      }
    }
  }
}
.eni-select-window-open {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: all;
  // & ~ .EniSelectWithUl {
  //   .eni-select .eni-select-box {
  //     border-color: $eniJauneNormal !important;
  //     color: $eniGrisDarker !important;
  //     & svg path {
  //       fill: $eniGrisDarker !important;
  //     }
  //   }
  // }
}
