@font-face {
    font-family: 'EniExpBol';
    font-weight: normal;
    font-style: normal;
    src: url('../src/styles/assets/fonts/EniExpBol.ttf') format('truetype');
}

@font-face {
    font-family: 'OpenSansRegular';
    font-weight: normal;
    font-style: normal;
    src: url('../src/styles/assets/fonts/OpenSans-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'OpenSansSemiBold';
    font-weight: normal;
    font-style: normal;
    src: url('../src/styles/assets/fonts/OpenSans-SemiBold.ttf') format('truetype');
}

@font-face {
    font-family: 'OpenSansItalic';
    font-weight: normal;
    font-style: normal;
    src: url('../src/styles/assets/fonts/OpenSans-Italic.ttf') format('truetype');
}