

.eni-textarea-container{
  width: 340px;
  height: fit-content;
  position: relative;
  display: block;
  border: 1px solid $Grey600;
  padding-bottom: 10px;
  background-color: $White;
  border-radius:4px ;
  &.disabled{
    background-color: $Grey100;
  }
  &.valuefocus{
  
    .eni-textarea-header{
  
      label{
        @extend %TextXsmall;
        color: $Grey600;
        &:after{
          @extend %TextXsmall;
        }
      }
      background-color: $White;
      top:0px;
  
    }
    .eni-textarea{
      padding-top: 28px;
      padding-bottom: 22px;
    }
  }
  &.disabled{

    label{
      color: $Grey500;
      &:after{
        color: $Grey500;
      }
      span{
        color: $Grey500;
      }
    }
  }
}
.eni-textarea {
 max-width: 292px;
 min-width: 260px;
  display: block;

  padding: 20px;
  padding-right: 10px;
  padding-top: 20px;
  padding-bottom: 30px;
  border-radius: 4px;
  width: 300px;
  border: none;
  @extend %TextNormal;
  /* width */
&::-webkit-scrollbar {
  width: 10px;
}

/* Track */
&::-webkit-scrollbar-track {

  border-radius: 10px;
}

/* Handle */
&::-webkit-scrollbar-thumb {
  background: $Grey100;
  border-radius: 10px;
}
}

::placeholder {
  @extend %TextNormal;
}

.eni-textarea:disabled {
  background-color: $Grey100;
  color: $Grey500;

}

.eni-textarea:disabled:hover {
  
}

.eni-textarea:focus {
  border-color: $eniJauneNormal;
  outline: none;
}

.eni-textarea:hover {
  border-color: $eniJauneNormal;
}

.eni-textarea-label {
  color: $eniGrisDarkest;
  @extend %TextSemiBoldNormal;
}

.eni-textarea-label.required:after {
  content: " *";
  color: $eniRougeNormal;
  @extend %TextSemiBoldNormal;
}

// .eni-textarea-label.disabled {
//   color: $eniGrisLighter;
// }

// .eni-textarea-label.disabled:after {
//   color: $eniGrisLighter;
// }

.eni-textarea-header {
  position: absolute;
  display: block;
  width: calc(100% - 40px);
  padding-top: 10px;
  top: 10px;
  height: 30px;
  margin-left: 20px;
  margin-right: 20px;
  pointer-events: none;
}
.eni-textarea:focus:invalid {
  color: $eniRougeNormal;
  border-color: $eniRougeNormal;
}
.eni-textarea:invalid[value]:not([value=""]) {
  color: $eniRougeNormal;
  border-color: $eniRougeNormal;
}

.error-message {
  display: none;
}

.eni-textarea:focus:invalid ~ .error-message {
  display: block;
  color: $eniRougeNormal;
  @extend %TextNormal;
}
.eni-textarea:invalid[value]:not([value=""]) ~ .error-message {
  display: block;
  color: $eniRougeNormal;
  @extend %TextNormal;
}
#eni-textarea-caract {
  color: $eniGrisNormal;
  float: right;
  @extend %TextItalicNormal;
}
