.eni-textarea-container {
  width: fit-content;
  height: fit-content;
  position: relative;
  display: block;
  border: 1px solid $Grey600;
 
  background-color: $White;
  border-radius: 4px;
  &.disabled {
    background-color: $Grey100;
  }
  &.valuefocus {
    .eni-textarea-header {
      label {
        @extend %TextXsmall;
        color: $Grey600;
        &:after {
          @extend %TextXsmall;
        }
      }
     
      top: 0px;
    }
    .eni-textarea {
      margin-top: 28px;
      padding-bottom: 22px;
    }
  }
  &.disabled {
    label {
      color: $Grey500;
      &:after {
        color: $Grey500;
      }
      span {
        color: $Grey500;
      }
    }
  }
}
.eni-textarea {

  display: block;
  position: relative;
  padding: 20px;
  padding-right: 30px;
  padding-top: 0px;
  margin-top: 20px;
  padding-bottom: 30px;
  border-radius: 4px;
  width: 350px;
  border: none;
  @extend %TextNormal;
  /* width */
  &::-webkit-scrollbar {
    width: 10px;
  }

  /* Track */
  &::-webkit-scrollbar-track {
    border-radius: 10px;
  }

  /* Handle */
  &::-webkit-scrollbar-thumb {
    background: $Grey100;
    border-radius: 10px;
  }
}

::placeholder {
  @extend %TextNormal;
}

.eni-textarea:disabled {
  background-color: $Grey100;
  color: $Grey500;
}

.eni-textarea:disabled:hover {
}

.eni-textarea:focus {
  border-color: $Yellow200;
  outline: none;
}

.eni-textarea:hover {
  border-color: $Yellow200;
}

.eni-textarea-label {
  color: $Grey900;
  @extend %TextSemiBoldNormal;
  
}

.eni-textarea-label.required:after {
  content: " *";
  color: $Red500;
  @extend %TextSemiBoldNormal;
}

// .eni-textarea-label.disabled {
//   color: $eniGrisLighter;
// }

// .eni-textarea-label.disabled:after {
//   color: $eniGrisLighter;
// }

.eni-textarea-header {
  z-index: 1;
  position: absolute;
  display: block;
  width: calc(100% - 50px);
  padding-top: 10px;
  top: 10px;
  height: 30px;
  margin-left: 20px;
  margin-right: 20px;
  pointer-events: none;
}
.eni-textarea-background{
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  pointer-events: none;
}
.eni-textarea:focus:invalid {
  color: $Red500;
  border-color: $Red500;
  & ~ .eni-textarea-background{
    background-color: rgba($color: $Red500, $alpha: 0.1);
  }
  & ~ .eni-textarea-header label{
    color: $Red500!important;
  }
  & ~ .eni-textarea-header span{
    color: $Red500!important;
  }
}
.eni-textarea:invalid[value]:not([value=""]) {
  color: $Red500;
  border-color: $Red500;
 
  & ~ .eni-textarea-background{
    background-color: rgba($color: $Red500, $alpha: 0.1);
  }
  & ~ .eni-textarea-header label,span{
    color: $Red500;
  }
  & ~ .eni-textarea-header span{
    color: $Red500!important;
  }
}

.error-message {
  display: none;
}

.eni-textarea:focus:invalid ~ .error-message {
  display: block;
  color: $Red500;
  @extend %TextSmall;
}
.eni-textarea:invalid[value]:not([value=""]) ~ .error-message {
  display: block;
  color: $Red500;
  @extend %TextSmall;
}
#eni-textarea-caract {
  color: $Grey600;
  float: right;
  @extend %TextItalicSmall;
}
