@font-face {
    font-family: 'EniExpBol';
    font-weight: normal;
    font-style: normal;
    src: url('../assets/fonts/EniExpBol.ttf') format('truetype');
}

@font-face {
    font-family: 'OpenSansRegular';
    font-weight: normal;
    font-style: normal;
    src: url('../assets/fonts/OpenSans-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'OpenSansSemiBold';
    font-weight: normal;
    font-style: normal;
    src: url('../assets/fonts/OpenSans-SemiBold.ttf') format('truetype');
}

@font-face {
    font-family: 'OpenSansItalic';
    font-weight: normal;
    font-style: normal;
    src: url('../assets/fonts/OpenSans-Italic.ttf') format('truetype');
}


// @font-face {
//     font-family: 'SourceSansPro-BlackIt.otf';
//     font-weight: normal;
//     font-style: normal;
//     src: url('../assets/fonts/SourceSansPro-BlackIt.otf') format('truetype');
// }
// @font-face {
//     font-family: 'SourceSansPro-Bold.otf';
//     font-weight: normal;
//     font-style: normal;
//     src: url('../assets/fonts/SourceSansPro-Bold.otf') format('truetype');
// }
// @font-face {
//     font-family: 'SourceSansPro-BoldIt.otf';
//     font-weight: normal;
//     font-style: normal;
//     src: url('../assets/fonts/SourceSansPro-BoldIt.otf') format('truetype');
// }
// @font-face {
//     font-family: 'SourceSansPro-ExtraLight.otf';
//     font-weight: normal;
//     font-style: normal;
//     src: url('../assets/fonts/SourceSansPro-ExtraLight.otf') format('truetype');
// }

// @font-face {
//     font-family: 'SourceSansPro-ExtraLightIt.otf';
//     font-weight: normal;
//     font-style: normal;
//     src: url('../assets/fonts/SourceSansPro-ExtraLightIt.otf') format('truetype');
// }
// @font-face {
//     font-family: 'SourceSansPro-It.otf';
//     font-weight: normal;
//     font-style: normal;
//     src: url('../assets/fonts/SourceSansPro-It.otf') format('truetype');
// }
// @font-face {
//     font-family: 'SourceSansPro-Light.otf';
//     font-weight: normal;
//     font-style: normal;
//     src: url('../assets/fonts/SourceSansPro-Light.otf') format('truetype');
// }
// @font-face {
//     font-family: 'SourceSansPro-LightIt.otf';
//     font-weight: normal;
//     font-style: normal;
//     src: url('../assets/fonts/SourceSansPro-LightIt.otf') format('truetype');
// }


@font-face {
    font-family: 'SourceSansProRegular'; // 400
    font-weight: normal;
    font-style: normal;
    src: url('../assets/fonts/SourceSansPro-Regular.otf') format('truetype');
}
@font-face {
    font-family: 'SourceSansProSemibold'; // 600
    font-weight: normal;
    font-style: normal;
    src: url('../assets/fonts/SourceSansPro-Semibold.otf') format('truetype');
}
@font-face {
    font-family: 'SourceSansProSemiboldIt';
    font-weight: normal;
    font-style: normal;
    src: url('../assets/fonts/SourceSansPro-SemiboldIt.otf') format('truetype');
}
@font-face {
    font-family: 'SourceSansProBold'; //700
    font-weight: normal;
    font-style: normal;
    src: url('../assets/fonts/SourceSansPro-Bold.otf') format('truetype');
}